*{
    margin: 7;
    padding: 6;
    box-sizing: 5;
}
 li
 {
    color:crimson;
    font-weight: 500;
 }
table,tr,th,td
 {
    border-collapse: collapse;
}
table{
    margin-left: 40%;
}
th
{
    color: darkblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: green;
}
tr{
    color: rgb(1, 1, 1);
}
td{
    font-family: fantasy;
    text-align: center;
    padding: 8px;
}
tr:nth-child(odd){
    background-color: greenyellow;
}
